# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Build directories - Need to track these folders since this is a Bare 
# ios/
# android/

# Android Keystore
android/app/debug.keystore
android/app/release.keystore
android/app/src/main/res/values/secrets.xml
android/keystore.properties
android/app/google-services.json

# Android sensitive files
android/app/google-services.json
android/**/gradle.properties
android/**/keystore.properties
android/app/src/main/res/values/strings.xml
android/app/src/main/res/values/values.xml

# iOS Secrets
ios/GoogleService-Info.plist
ios/Runner/GoogleService-Info.plist
ios/fastlane/
ios/Pods/

# iOS sensitive files
ios/**/GoogleService-Info.plist
ios/**/Info.plist

# Ignore all ios and android files with confidential info
**/Info.plist
**/gradle.properties
**/strings.xml
**/merger.xml
**/values.xml
**/AndroidManifest.xml

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# environment variables
.env